@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-all-center {
    @apply flex items-center justify-center
  }
  .flex-i-center {
    @apply flex items-center
  }
  .flex-j-center {
    @apply flex justify-normal
  }
}

@layer base { 
  @font-face{
    font-family: Pretendard;
    src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}

@font-face {
  font-family: Pretendard-black;
  src: url('/fonts/Pretendard-Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face{
  font-family: Pretendard-thin;
  src: url('/fonts/Pretendard-Thin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}

@font-face{
  font-family: Prentendard-extraLight;
  src: url('/fonts/Pretendard-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face{
  font-family: Pretendard-light;
  src: url('/fonts/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face{
  font-family: Pretendard-medium;
  src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face{
  font-family: Pretendard-semiBold;
  src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face{
  font-family: Pretendard-bold;
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: bold;
}

@font-face{
  font-family: Pretendard-extraBold;
  src: url('/fonts/Pretendard-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

